.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  justify-content: center;
}

.Current-wind {
  display: flex;
  flex-direction: row; 
  justify-content:space-around;
  max-width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.Current-wind-labels {
  text-align: left;
}

.Current-wind-readings {
  text-align: right;
}

.Chart {
  max-width: 1000px;
  min-width: 390px;
  margin-left: auto;
  margin-right: auto;
}